body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  border: none;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgb(64, 139, 251);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn:hover{
  background-color: hsl(206, 100%, 60%);
  transition: 200ms ease-in-out;
}